<h1>{{subscriptionsListCtrl.name}}</h1>
<h3>Select subscription</h3>
<br>
<ul class="nav nav-sidebar">
    <div class="sub-header row">
        <div class="col-sm-2 col-md-2">Name</div>
        <div class="col-sm-2 col-md-2">Minutes/sms</div>
        <div class="col-sm-2 col-md-2">Internet</div>
        <div class="col-sm-2 col-md-2">Device Price</div>
        <div class="col-sm-2 col-md-2">Price</div>
        <div class="col-sm-2 col-md-2">Costs/month</div>
    </div>

	<li class="subscription-item" ng-class="{'active':subscriptionsListCtrl.isCurrentSubscription(subscription)}"
		ng-repeat="subscription in subscriptionsListCtrl.subscriptions">
		<subscription-item
			subscription="subscription"
			selected="subscriptionsListCtrl.onSubscriptionSelected(subscription)">
		</subscription-item>
	</li>
</ul>
