<h1>Apple iPhone 6s 64GB Zilver</h1>
<h3>Select subscription</h3>
<br>
<ul class="nav nav-sidebar">
    <div class="sub-header row">
        <div class="col-sm-2 col-md-2">Name</div>
        <div class="col-sm-2 col-md-2">Volume</div>
        <div class="col-sm-2 col-md-2">Data</div>
        <div class="col-sm-2 col-md-2">Device Discount</div>
        <div class="col-sm-2 col-md-2">Price</div>
        <div class="col-sm-2 col-md-2">Discount</div>
    </div>

	<li class="subscription-item" ng-class="{'active':subscriptionsListCtrl.isCurrentSubscription(subscription)}"
		ng-repeat="subscription in subscriptionsListCtrl.subscriptions">
		<subscription-item
			subscription="subscription"
			selected="subscriptionsListCtrl.onSubscriptionSelected(subscription)">
		</subscription-item>
	</li>
</ul>
