<div class="costs">
    <div class="row">
        {{costsListCtrl.currentSubscription.name}}
    </div>
    <div class="row">
        {{costsListCtrl.currentSubscription.minutes}}
    </div>
    <div class="row">
        {{costsListCtrl.currentSubscription.internet}}
    </div>
    <div class="row">
        {{costsListCtrl.currentSubscription.deviceprice}}
    </div>
    <div class="row">
        {{costsListCtrl.currentSubscription.costspermonthold}}
    </div>
    <div class="row">
        {{costsListCtrl.currentSubscription.costspermonthnew}}
    </div>    
</div>
