.subscription-field {
    text-decoration: line-through
}

.subscription-item {
  color: #0000ff;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  cursor: pointer;
}

