<div class="subscriptionItem" ng-click="subscriptionItemCtrl.selected({subscription:subscriptionItemCtrl.subscription})">
    <div class="row">
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.name}}</div>
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.volume}}</div>
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.data}}</div>
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.devicediscount}}</div>
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.subscriptionprice}}</div>
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.subscriptionpricediscount}}</div>
    </div>
</div>


