/*.subscription-field {
    text-decoration: line-through
}

.subscription-item {
  color: #0000ff;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  cursor: pointer;
}

*/

/*
* Product subscription
*/

.product-subscription {
    cursor: pointer;
}

.product-subscription-selected {
    background-color: #F3F3F3;
}

.product-subscription-value-numeric {
    text-align: right;
}

.product-subscription-name {
    font-weight: bold;
}

.product-subscription-price-previously {
    text-decoration: line-through;
}

.product-subscription-price-finally {
    color: #FFA032;
}

.product-subscription-price-device {
    font-weight: bold;
}