<div class="subscriptionItem" ng-click="subscriptionItemCtrl.selected({subscription:subscriptionItemCtrl.subscription})">
    <div class="row">
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.name}}</div>
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.minutes}}</div>
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.internet}}</div>
        <div class="col-sm-2 col-md-2">{{subscriptionItemCtrl.subscription.deviceprice}}</div>
        <div class="col-sm-1 col-md-1">{{subscriptionItemCtrl.subscription.costspermonthold}}</div>
        <div class="col-sm-1 col-md-1">{{subscriptionItemCtrl.subscription.costspermonthnew}}</div>
    </div>
</div>


